/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

a {
  text-decoration: none;
  display: block;
}

.mb-10 {
  margin-bottom: 40px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.ml-2 {
  margin-left: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-8 {
  margin-right: 32px;
}

.mb-8 {
  margin-bottom: 32px;
}

.ml-4 {
  margin-left: 16px;
}

.mr-4 {
  margin-right: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mt-30 {
  margin-top: 120px;
}

.mb-20 {
  margin-bottom: 80px;
}

.mr-1 {
  margin-right: 4px;
}

.fz14 {
  font-size: 14px;
}

.w32 {
  width: 32px;
  height: 32px;
}

.w33 {
  width: 33%;
}

.colorNeutral80 {
  color: #4B4B4B;
}

.bgcolorNeutral {
  background-color: #ECECEC;
}

.colorNeutral60 {
  color: #909090;
}

.fw600 {
  font-weight: 600;
}

.colorPrimary100 {
  color: #4A3830;
}

.colorSemanticAlert100 {
  color: #FF3A55;
}

.bgcolorNeutral0 {
  background-color: #ffffff;
}

.page {
  display: flex;
}

.picBox {
  max-width: 600px;
  margin: 40px;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

.enter {
  width: 604px;
  margin: 151px auto;
}

.loginBox {
  margin-bottom: 40px;
}
.loginBox a {
  position: relative;
  padding: 16px;
  border: 1px solid #ECECEC;
  margin-bottom: 16px;
  text-align: center;
  border-radius: 12px;
  color: #4B4B4B;
}
.loginBox a:hover {
  color: #ffffff;
  background-color: #4A3830;
}

.loginIcon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.loginIconFb {
  position: absolute;
  top: 16px;
  left: 16px;
}

.loginIconApple {
  position: absolute;
  top: 16px;
  left: 16px;
}

.loginInput {
  width: 100%;
  padding: 16px;
  border: 1px solid #ECECEC;
  border-radius: 12px;
}

.btn:hover {
  color: #fff;
  background-color: #4A3830;
}

.form-control {
  width: 400px;
  padding: 12px;
  border-radius: 8px;
}

.banner img {
  border-radius: 24px;
}

.wrap {
  background-color: #F4F4F4;
  padding-bottom: 121px;
}

.containerp {
  max-width: 1296px;
  margin: 0 auto;
}
.containerp img {
  width: 100%;
}

.wrapf {
  background-color: #000000;
}

.userSelect {
  padding: 16px 24px;
  border-radius: 24px;
  margin-bottom: 24px;
}
.userSelect a {
  color: #000000;
  font-weight: 700;
}
.userSelect a:hover {
  border-bottom: 4px solid #CBB6AF;
}

.userinfo {
  margin-top: -80px;
  margin-bottom: 80px;
}
.userinfo h3 {
  font-size: 24px;
  line-height: 1.2;
}

.userinfo .usericon {
  width: 160px;
  height: 160px;
}

.userAccount {
  border-radius: 24px;
  padding: 64px 32px 128px 32px;
  position: relative;
}
.userAccount h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.accountPage {
  border-bottom: 1px solid #ECECEC;
}
.accountPage a {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #4A3830;
}
.accountPage a:hover {
  border-bottom: 4px solid #4A3830;
  font-weight: 600;
}

.btnedit {
  padding: 16px 32px;
  border: 1px solid #4A3830;
  border-radius: 12px;
  font-weight: 600;
  color: #4A3830;
  background-color: #ffffff;
  position: absolute;
  right: 32px;
  bottom: 32px;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.containerp .logowhite {
  width: 270px;
  height: 45px;
}

.iconList img {
  width: 40px;
  height: 40px;
}

.otherpage a {
  color: #ffffff;
}

.copyright {
  color: #D4D4D4;
}

@media (max-width: 999px) {
  .picBox {
    display: none;
  }
  .enter {
    padding: 24px;
    max-width: 604px;
    margin: 60px auto;
  }
  .containerp {
    max-width: 999px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .containerp .logowhite {
    width: 192px;
    height: 32px;
  }
  .userSelect a {
    text-align: center;
  }
  .userAccount {
    padding: 32px 16px 16px 16px;
  }
  .btnedit {
    justify-content: center;
    left: 16px;
    right: 16px;
    bottom: 16px;
  }
  .last {
    margin-bottom: 112px;
  }
}/*# sourceMappingURL=all.css.map */