.colorNeutral80 {
    color: #4B4B4B;
}

.bgcolorNeutral {
    background-color: #ECECEC;
}

.colorNeutral60 {
    color: #909090;

}

.fw600 {
    font-weight: 600;
}

.colorPrimary100 {
    color: #4A3830;
}
.colorSemanticAlert100{
    color: #FF3A55;

}

