.page {
    display: flex;
}

.picBox{
    width: 600px;
    margin: 40px;
}

h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
}
.enter{
    width: 604px;
    margin: 151px auto;
}