.form-control {
    width: 400px;
    padding: 12px;
    border-radius: 8px;
}

.banner img {
    border-radius: 24px;
}
.wrap{
    background-color: #F4F4F4;
}
.containerp{
    max-width: 1296px;
    margin: 0 auto;
    img{
        width: 100%;
    }
}