@media (max-width:999px) {
    .picBox {
        display: none;
    }

    .enter {
        padding: 24px;
        max-width: 604px;
        margin: 60px auto;
    }

    .containerp{
        max-width: 999px;
        padding-left: 12px;
        padding-right: 12px;
    }

}